
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;  
}

@font-face{

font-family:P;
src: url(ITCEDSCR.ttf);


}

h2{
  font-family:P;
  font-size: 500%;
    color: white;

}

@font-face{

font-family:P;
src: url(COOPBL.ttf);


}

h3{
  font-family:P;
  font-size: 400%;
    color: white;

}

body {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     min-height: 100vh;
	margin: 26px;
    min-height: 60vh;
   background-image: url(fondo2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
   background-position: right;
    
   
}


.card {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 20px;
    
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    
}

.card .front img {
    position: absolute;
    width: 230px;
    height: 230px;
    object-fit: cover;
    
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
   
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
	position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}


.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}